# Local PostgreSQL for development
DATABASE_URL="postgresql://your_username:your_password@localhost:5432/your_database_name"

# App Configuration
NEXT_PUBLIC_BASE_URL="your_localhost_url_here" # e.g., http://localhost:3000

# Production  - Use this in Vercel deployment

# NEON_DATABASE_URL="your_production_database_url_here"

# NEXT_PUBLIC_BASE_URL="https://tiny-link-ochre.vercel.app"


